
/vendor/
/composer.lock
/node_modules/
/.env
.phpunit.result.cache
/.idea/
/*.log
.DS_Store
/storage/*.key
/storage/*.sqlite
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/testing/*
/bootstrap/cache/*
/.env.*
/coverage/
/*.local
/.vscode/
/*.swp